extend layout
block content
  p
    | Stuff about my current life.
    | 
    | 
  p
    | Stuff about my previous life.
    | 
    | 
    | 
    | 
    | 
block sidebar
  .widget
    h1 <a href="/short">Short URL</a>
    p
      | I tried creating a URL shortener using ExpressJS 
      | 
    p
      | 
  .widget
    h1 <a href="/project2">Project 2</a>
    p
      | This is for when I create my second project
    p
      |  