extend layout
block content
  h1 Short URL
  br  
  p
    | Hello, here is my attempt to create 
    | a URL shortner using serialization
    br
    br
    | Enter your Long URL here 
    | <form name="input" action="long_to_short" method="post">
    | Long URL: <input type="text" name="long_url">
    | <input type="submit" value="Submit">
    | </form>


