html
  head
    title VP's site - #{title}
    <meta http-equiv="refresh" content="0; url=http://#{long_url}" />
    // link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 http://#{long_url}